# Mac system files
.DS_Store

# Virtual Environments
venv/
env/
f1_gdl_env/
__pycache__/

# Large data files and installers
*.zip
*.vtp
*.vtk
*.stl
*.csv
*.pt
*.pth
*.sh
Miniconda3-latest-MacOSX-arm64.sh
/DrivAerNet++/