# Mac system files
.DS_Store

# Virtual Environments
venv/
env/
f1_gdl_env/
__pycache__/

# Large data files and installers

*.zip
*.vtp
*.vtk
*.stl
*.csv
*.pt
*.pth
*.sh
Miniconda3-latest-MacOSX-arm64.sh
/DrivAerNet++/
viz/

# Markdown files (except README)
*.md
!README.md

# Discussion/notes files
*.pages
*.txt



# Allow checkpoint resumption files
!runs_new/
!runs_new/*.pt
!runs_new/*.csv

!runs_80-118/
!runs_80-118/*.pt
!runs_80-118/*.csv

!runs_80-158/
!runs_80-158/*.pt
!runs_80-158/*.csv

!final_runs/
!final_runs/*.csv
!final_runs/*.pt

!new_final_run/
!new_final_run/*.pt

!phase_2_train/
!phase_2_train/*.pt

!runs/
!runs/**/*.pt
outputs/
