# Mac system files
.DS_Store

# Virtual Environments
venv/
env/
f1_gdl_env/
__pycache__/

# Large data files and installers
*.zip
*.vtp
*.vtk
*.stl
*.csv
*.pt
*.pth
*.sh
Miniconda3-latest-MacOSX-arm64.sh
/DrivAerNet++/

outreach_contacts.md

 # Allow checkpoint resumption files
!runs_new/
!runs_new/*.pt
!runs_new/*.csv

!runs_80-118/
!runs_80-118/*.pt
!runs_80-118/*.csv
